* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    background: #EFEFEF;
}

.header-background {
    background-color: #414141;
    border-bottom: 10px solid transparent;
    border-image: url(/assets/Border-BG.jpg) 30 round;
}

.header-container {
    background-color: #414141;
    display: flex;
    flex-wrap: wrap;
    /*flex-flow: row wrap*/
    justify-content: center;
    align-items: center;
    /* centering container*/
    width: 80%;
    margin: 0 auto;
}

.right-header {
    padding: 0px;
    align-self: center;
}

.left-header {
    padding: 0px;
}

img {
    width: 35vw;
    height: 35vh;
}

.right-header p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1px auto;
    /*text-align: left;*/
    font-style: italic;
    letter-spacing: 0.5px;
    transform: scaleY(1.2);
}

.right-header p span {
    font-weight: lighter;
    color: #B5B5B5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding-left: 0.3rem;
    font-style: normal;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #B5B5B5;
    font-weight: lighter;
}

/*https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button*/

.learn-btn {
    background: #4788C8;
    color: #FFFFFF;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 1rem 0px 3rem rgba(0, 0, 0, 0.19);
}

.learn-btn:hover {
    background: #FFFFFF;
    color: #4788C8;
}

/*speech-bubble*/

.speech-bubble {
    position: relative;
    background: #4788C8;
    margin: auto;
    width: 80%;
    padding: 0.3rem;
    overflow-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-top-color: #4788C8;
    border-left: 0;
}

.start-btn {
    background: #E4E4EE;
    color: #414141;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    bottom: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 2rem;
}

.speech-bubble-text {
    color: white;
    font-size: 1.3rem;
    font-weight: 200;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2rem;
}

.speech-bubble-text span {
    color: white;
    font-weight: 600;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

/* Content container */

#content-wrapper {
    margin: 0 auto;
    width: 80%;
    background: #EFEFEF;
}

/* Topic */

.topic-container {
    background-color: #EFEFEF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* centering container*/
    margin: 4rem auto;
    position: relative;
}

.topic-container div {
    flex: 1;
    text-align: center;
    position: relative;
    padding: 1rem;
}

/* effects after hovering the topic column */

.topic-container div:hover {
    background: #FFFFFF;
    box-shadow: 0.5rem 0px 3rem rgba(0, 0, 0, 0.19);
}

.topic-container-column:hover::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-top-color: #FFFFFF;
    border-left: 0;
}

.topic-container div:hover .read-btn {
    visibility: hidden;
}

.topic-container div:hover .circle-bg-for-icon {
    background: #4788C8;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: auto;
}

.topic-title {
    color: #4F4D4E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    transform: scaleY(1.2);
    padding: 1rem;
    width: 100%;
}

.topic-title span {
    font-weight: normal;
}

.read-btn {
    background: #4788C8;
    color: #FFFFFF;
    padding: 1em 1.5em;
    font-size: 1rem;
    border-radius: 10%;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
}

.circle-bg-for-icon {
    background: #4F4D4E;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: auto;
}

.fas {
    font-size: 2rem;
    padding: 0.3rem;
    color: white;
}

/* Recent work section */

.recent-work-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /*If we want to keep the three images's poisition, when the screen is smaller*/
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1.0em;
    justify-content: space-around;
}

.recent-work-container div {
    background: #FFFFFF;
    position: relative;
    box-shadow: 0.5rem 0px 3rem rgba(0, 0, 0, 0.19);
}

.recent-work-container div::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-top-color: #FFFFFF;
    border-left: 0;
}

.work1 img {
    max-width: 100%;
    min-width: 100%;
    margin: 0px;
}

.work2 img {
    max-width: 100%;
    min-width: 100%;
}

.work3 img {
    max-width: 100%;
    min-width: 100%;
}

.blog-title {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2rem;
    font-weight: bold;
}

.blog-content {
    padding: 1rem;
}

/* Recent work title */

#recent-work-title {
    background-image: url("/assets/Border-BG.jpg");
    text-align: center;
    margin: 4em auto;
    padding: 0;
}

#recent-work-title span {
    font-weight: lighter;
    color: #3F3F3F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background: #EFEFEF;
    padding: 0.1rem 2rem;
}

/* make more a deviant crease line
#recent-work-title{
    border-bottom: 10px solid transparent;
    border-image: url(/assets/Border-BG.jpg) 30 round;
    text-align: center;
    margin: 4em auto;
    padding: 0;
}

#recent-work-title span{
    font-weight: lighter;
    color: #3F3F3F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background: #EFEFEF;
    padding: 0.1rem 2rem;
    margin-top: -10rem;
}
*/

/* Testimonials & development */

#Testimonials-development-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    background: #EFEFEF;
    width: 100%;
    margin-top: 7rem;
}

#testimonials-container {
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    grid-gap: 1rem;
    margin-right: 0.5rem;
}

#testimonials-container div::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-top-color: #FFFFFF;
    border-left: 0;
}

#testimonials-title {
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url("/assets/Border-BG.jpg");
    text-align: center;
    margin: 1rem 0;
    padding: 0;
}

#testimonials-title::after {
    visibility: hidden;
}

#testimonials-title span {
    font-weight: lighter;
    color: #3F3F3F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background: #EFEFEF;
    padding: 0.5rem 2rem;
}

#testimonials-content1 {
    grid-column: 1/2;
    grid-row: 2/3;
    background: #FFFFFF;
    position: relative;
    margin: 3rem auto;
    box-shadow: 0.5rem 0px 3rem rgba(0, 0, 0, 0.19);
}

#testimonials-content2 {
    grid-column: 2/3;
    grid-row: 2/3;
    background: #FFFFFF;
    position: relative;
    margin: 3rem auto;
    box-shadow: 0.5rem 0px 3rem rgba(0, 0, 0, 0.19);
}

#testimonials-content3 {
    grid-column: 1/2;
    grid-row: 3/4;
    background: #FFFFFF;
    position: relative;
    margin: 3rem auto;
    box-shadow: 0.5rem 0px 3rem rgba(0, 0, 0, 0.19);
}

#testimonials-content4 {
    grid-column: 2/3;
    grid-row: 3/4;
    background: #FFFFFF;
    position: relative;
    margin: 3rem auto;
    box-shadow: 0.5rem 0px 3rem rgba(0, 0, 0, 0.19);
}

.testi-title {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2rem;
    font-weight: bold;
}

.testi-content {
    padding: 1rem;
}

/* development area */

#development-container {
    grid-column: 2/3;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 2fr;
    grid-gap: 1.0rem;
    background: #EFEFEF;
    margin-left: 0.5rem;
}

#development-title {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("/assets/Border-BG.jpg");
    background-repeat: repeat;
    text-align: center;
    margin-top: 1rem;
    padding: 0;
    height: 2rem;
}

#development-title span {
    font-weight: lighter;
    color: #3F3F3F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background: #EFEFEF;
    padding: 0.5rem 2rem;
}

#design-production {
    grid-column: 1/2;
    grid-row: 2/3;
    background: #EFEFEF;
}

.tabs {
    list-style: none;
}

.tabs li {
    display: inline;
    box-shadow: 0.5rem 0px 3rem rgba(0, 0, 0, 0.19);
}

.tabs li a {
    color: #3F3F3F;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    display: block;
    padding: 1rem 2rem;
    left: 0;
    text-decoration: none;
    box-shadow: 0.5rem 0px 3rem rgba(0, 0, 0, 0.19);
}

.tabs li a:hover {
    font-weight: bold;
    background: #FFFFFF;
}

.tabs li a:active {
    font-weight: bold;
    background: #FFFFFF;
}

.group {
    padding-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.group::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

.box-wrap {
    position: relative;
    min-height: 10rem;
}

.tabbed-area div div {
    background: #F5F5F5;
    padding: 1rem;
    min-height: 10rem;
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100%;
}

#box-one:target,
#box-two:target,
#box-three:target {
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 0.5rem 0px 3rem rgba(0, 0, 0, 0.19);
}

#box-wrap div p strong {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.read-btn-in-dev {
    background: #4788C8;
    color: #FFFFFF;
    padding: 1em 1.5em;
    font-size: 1rem;
    border-radius: 10%;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    float: right;
}

/* Get in touch section */

.get-in-touch-bubble-speech {
    position: relative;
    background: #4788C8;
    margin: auto;
    width: 100%;
    padding: 0.3rem;
    overflow-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.get-in-touch-bubble-speech::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-top-color: #4788C8;
    border-left: 0;
}

.get-in-touch-bubble-speech-text {
    color: white;
    font-size: 1.3rem;
    font-weight: 200;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2rem;
}

.get-in-touch-bubble-speech-text span {
    color: white;
    font-weight: 600;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.contact-btn {
    background: #E4E4EE;
    color: #414141;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    bottom: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 2rem;
}

/* footer */

.footer-background {
    background-color: #414141;
}

.footer-container {
    background-color: #414141;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    /* centering container*/
    width: 80%;
    margin: 0 auto;
    padding-top: 5rem;
}

.aboutUs{
    grid-column: 1/2;
    grid-row: 1/2;
}

.lastestTweets{
    grid-column: 2/3;
    grid-row: 1/2;
}

.lastestPosts{
    grid-column: 3/4;
    grid-row: 1/2;
}

.flickr{
    grid-column: 4/5;
    grid-row: 1/2;
}

.footer-container div {
    padding-right: 1rem;
}

.footer-content-title {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}

.footer-content {
    margin-top: 1rem;
    color: #8D8D8D;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-content span {
    color: #FFFFFF;
    font-weight: bold;
}

.footer-content-text-and-line {
    border-bottom: 1px solid #222222;
    padding: 0.5rem;
    margin-top: 1rem;
    color: #8D8D8D;
}

.footer-content-text-and-line:hover{
    color: #4788C8;
}

.flickr-item-container {
    margin-top : 1rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    grid-template-rows: repeat(2, minmax(min-content, 1fr));
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}

.item{
    background: #222222;
    width: 4rem;
    height: 4rem;
    padding: 0px;
}

.most-bottom-footer{
    grid-column: 1/5;
    grid-row: 2/3;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10%;
    justify-content: space-between;
    align-content: center;
    color: #8D8D8D;
    font-family:  Arial, Helvetica, sans-serif;
    background: #343434;
    margin-top: 2rem;
}

.footer-text{
    flex: 4;
}

.footer-icons{
    flex: 2;
}

.footer-up{
    padding-right: 0;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem; 
}

.fa-arrow-circle-up{
    color: #222222;
}

.fab{
    font-size: 2rem;
    padding: 0 0.5rem;
    color: #222222;
}

.fab:hover {
    color: #F5F5F5;
}

