.footer-background {
  background-color: #414141;
}

.footer-container {
  background-color: #414141;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  width: 80%;
  margin: 0 auto;
  padding-top: 5rem;
}

.aboutUs {
  grid-column: 1/2;
  grid-row: 1/2;
}

.lastestTweets {
  grid-column: 2/3;
  grid-row: 1/2;
}

.lastestPosts {
  grid-column: 3/4;
  grid-row: 1/2;
}

.flickr {
  grid-column: 4/5;
  grid-row: 1/2;
}

.footer-container div {
  padding-right: 1rem;
}

.footer-content-title {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
}

.footer-content {
  margin-top: 1rem;
  color: #8D8D8D;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-content span {
  color: #FFFFFF;
  font-weight: bold;
}

.footer-content-text-and-line {
  border-bottom: 1px solid #222222;
  padding: 0.5rem;
  margin-top: 1rem;
  color: #8D8D8D;
}

#remove-bottom-line {
  border-bottom: 0;
}

.footer-content-text-and-line:hover {
  color: #4788C8;
}

.flickr-item-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 70px);
  grid-auto-rows: 70px;
  grid-auto-flow: dense;
  grid-gap: 5px;
}

.item {
  background: #222222;
  padding: 0px;
}

.most-bottom-footer {
  grid-column: 1/5;
  grid-row: 2/3;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 10%;
  justify-content: space-between;
  align-content: center;
  color: #8D8D8D;
  font-family: Arial, Helvetica, sans-serif;
  background: #343434;
  margin-top: 2rem;
}

.footer-text {
  flex: 4;
}

.footer-icons {
  flex: 2;
  display: flex;
}

.footer-up {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}

.fa-arrow-circle-up {
  color: #222222;
}
