#content-wrapper {
  margin: 0 auto;
  width: 80%;
  background: #EFEFEF;
}

/******* Testimonials & development *******/
#Testimonials-development-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  background: #EFEFEF;
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 5rem;
}
