/******* Recent work section *******/

.recent-work-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /*If we want to keep the three images's poisition, when the screen is smaller*/
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1.0em;
  justify-content: space-around;
}

.recent-work-container div {
  background: #FFFFFF;
  position: relative;
  box-shadow: 5px 1px 5px -1px rgba(0, 0, 0, 0.19);
}

.recent-work-container div::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-top-color: #FFFFFF;
  border-left: 0;
}

.work1 img {
  width: 100%;
  height: auto;
}

.work2 img {
  width: 100%;
  height: auto;
}

.work3 img {
  width: 100%;
  height: auto;
}

.blog-title {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2rem;
  font-weight: bold;
}

.blog-content {
  padding: 1rem;
}

/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
  /*** Entire layout with Grid ***/
  .recent-work-container div {
    margin-top : 3rem;
  }
}
