/* Testimonial area */
#testimonials-container {
  grid-column: 1/2;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr;
  grid-gap: 1rem;
  margin-right: 0.5rem;
}

#testimonials-container div::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-top-color: #FFFFFF;
  border-left: 0;
}

#testimonials-title {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 1rem 0;
  border-bottom: 10px solid transparent;
  border-image: url(../assets/Border-BG.jpg) 30 round;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center; 
}

#testimonials-title::after {
  visibility: hidden;
}

#testimonials-title span {
  font-weight: lighter;
  color: #3F3F3F;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  background: #EFEFEF;
  padding: 0.5rem 2rem;
  transform: translateY(55%); 
}

#testimonials-content1 {
  grid-column: 1/2;
  grid-row: 2/3;
  background: #FFFFFF;
  position: relative;
  margin: 3rem auto;
  box-shadow: 5px 1px 5px -1px rgba(0, 0, 0, 0.19);
}

#testimonials-content2 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: #FFFFFF;
  position: relative;
  margin: 3rem auto;
  box-shadow: 5px 1px 5px -1px rgba(0, 0, 0, 0.19);
}

#testimonials-content3 {
  grid-column: 1/2;
  grid-row: 3/4;
  background: #FFFFFF;
  position: relative;
  margin: 3rem auto;
  box-shadow: 5px 1px 5px -1px rgba(0, 0, 0, 0.19);
}

#testimonials-content4 {
  grid-column: 2/3;
  grid-row: 3/4;
  background: #FFFFFF;
  position: relative;
  margin: 3rem auto;
  box-shadow: 5px 1px 5px -1px rgba(0, 0, 0, 0.19);
}

.testi-title {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 1rem;
  padding-top: 1rem;
  font-weight: bold;
}

.testi-content {
  padding: 1rem;
}