.titleStyle {
  margin: 4em auto;
  border-bottom: 10px solid transparent;
  border-image: url(../assets/Border-BG.jpg) 30 round;
  position: relative;
}

.titleStyle span {
  font-weight: lighter;
  color: #3F3F3F;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  background: #EFEFEF;
  padding: 0.1rem 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}